@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat&display=swap');
:root {
    --primary-color: var(#85c7f2);
    --secondary-color: var(#85c7a0);
    --accent1-color: var(#30ffa0);
    --accent2-color: var(#3aafb9);

    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #5dd9c1;
    --nav-link-color: #093a3e;
    --nav-hover-link-color: #beb7df;
    --nav-hover-background-color: #b084cc;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}