*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

main {
    max-width: 640px;
}

nav {
    margin: 0;
    padding: 10px;
    background-color: steelblue;
}

nav a {
    color: turquoise;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
    padding: 0.5rem;
}

main img{
    width: 150px;
    height: auto;
    padding: 2px;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    text-align: center;
    position: relative;
}

aside h2{
    top: 30px;
    left: 150px;
    position: absolute;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align:center
}

/*Class Selectors*/
.box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent{
    padding-left: 2rem;
}